/* 1. Base */

html {
  background-color: #5f45bb;
  background-image: linear-gradient(to bottom right, #0e038d, #000000);
  color: #fff;
  font-family: "Lucida", "Courier", monospace;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
a {
  color: currentColor;
  text-decoration: none;
}

/* 2. Shared */

.wallpaper,
.picture-shadow,
.picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.job,
.button {
  font-family: "Lucida", "Courier", monospace;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.button,
.social a {
  transform-origin: center;
  transition-duration: 100ms;
}

/* 3. Specific */

.about {
  max-width: 26rem;
}
.button {
  background-color: #f8c0c0;
  border-radius: 290486px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #0e038d;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}
.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02) translateY(-4px);
}
.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.98) translateY(-2px);
}
.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}
.content {
  display: flex;
  position: relative;
  min-height: 100vh;
}
.description {
  font-size: 1.5rem;
}
.hr {
  background-color: #f8c0c0;
  border: none;
  content: "";
  height: 1.5px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 8rem;
}
.job {
  color: #f8c0c0;
  font-size: 1rem;
}
.name {
  font-size: 2rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}
.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}
.picture-shadow {
  border-radius: 850803px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 10%;
}
.picture-image {
  border-radius: 850803px;
  position: absolute;
}
.side {
  max-height: 20rem;
  max-width: 20rem;
}
.social {
  display: flex;
  margin-top: 1.5rem;
}
.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}
.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}
.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}
.social a:active {
  opacity: 1;
  transform: scale(1.1);
}
.wallpaper {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  position: fixed;
}

/* 3a. Icons */

.icon {
  filter: invert(100%);
  height: 30px;
  width: 30px;
}

.django-icon {
  background: url('../images/django.svg');
}
.postgresql-icon {
  background: url('../images/postgresql.svg');
}
.redis-icon {
  background: url('../images/redis.svg');
}
.gitlab-icon {
  background: url('../images/gitlab.svg');
  height: 25px;
  width: 25px;
}
.python-icon {
  background: url('../images/python.svg');
  height: 32px;
  width: 32px;
}
.ubuntu-icon {
  background: url('../images/ubuntu.svg');
}
.flask-icon {
  background: url('../images/flask.svg');
}
.docker-icon {
  background: url('../images/docker.svg');
}
.linkedin-icon {
  background: url('../images/linkedin.svg');
}
.linux-icon {
  background: url('../images/linux.svg');
}

/* 4. Responsiveness */

@media screen and (max-width: 799px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }
  .side {
    margin-bottom: 3rem;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .content {
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
  .side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4rem;
    order: 2;
    width: 20rem;
  }
  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
